* {
    margin: 0;
    box-sizing: border-box;
}

body {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.calculator{
  padding: 50px 20px;
  width: 350px;
  background-color: rgb(184, 184, 148);
  box-shadow: 1px 1px 0px 0px black;
}

.input {
    background-color: #fff;
    border: 1px solid black;
    max-width: 270px;
    height: 60px;
    margin-bottom:20px;
    line-height: 60px;
    margin-left: 14px;
    padding: 0 4px;
    text-align: right;
    box-shadow: inset 1px 0px 0px 0px black;
}

.calculator-body{
    display: flex;
}

.calc-numbers, .calc-operators, .calc-options {
    display: flex;
}

.calc-operators, .calc-options{
    flex-direction: column;
    align-items: center;
}

.calc-numbers{
    flex-wrap: wrap;
    width: 180px;
    justify-content: center;
}

.box {
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 2px;
    cursor:pointer;
    box-shadow: 1px 0px 0px 0px black;
}

.br50 {
  border-radius: 50%;
}

.number{
    background-color: rgb(63, 163, 63);
}

.operator{
    background-color: rgb(146, 48, 48);
}

.calc-calculate{
    background-color: rgb(71, 145, 194);
}

.calc-period {
  background-color: black;
}

.calc-reset, .calc-return {
  background-color: red;
}
